label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1rem;
    color: #ccc;
}

input {
    background: #222;
    color: #eee;
    border: 1px solid #555;
    padding: 8px 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 1rem;
}

img {
    height: 300px;
    width: 300px;
}

input:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px #28a745;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
    background-image: url("imagens/fundo1.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.slot {
    font-size: 3rem;
    margin: 20px;
}
.money {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: aliceblue;
}
button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #218838;
}
.msg {
    margin-top: 15px;
    color: #ffc107;
    }

.Saida{
    background: #e90707;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.Saida:hover{
    background: rgb(100, 61, 61);
}



    