<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Caça-Níquel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <button class="Saida" href="{{ url_for('logout') }}" class="btn btn-danger btn-sm">Sair</button>  
    <div class=""><h1>🎰 Caça-Níquel</h1>
    <div class="money">Dinheiro: R$ {{ money|round(2) }}</div>
    <form action="/clique" method="POST">
        <button type="submit">Girar</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="msg">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</body>
</html>
